project:
  type: website
  output-dir: docs 

website:
  title: "portfolio"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
      - icon: person
        href: file:///C:/Users/brynn/Downloads/Brynn-Baumert-resume%20(4).pdf
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



